- var page_language = "ru";
//- - var external_font = "";

block vars

doctype html
html(lang=page_language)
  head
    meta(charset='UTF-8')
    meta(name='description', content=page_decription)
    meta(name='keywords', content=page_keywords)
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')

    //- в этом проекте используется веб-безопасный шрифт, прелоад и лоад внешнего шрифта не нужны
    //- link(
    //-   rel='preload',
    //-   href=`/fonts/${external_font}.woff2`,
    //-   as='font',
    //-   crossorigin='anonymous'
    //- )
    link(rel='preload', href='./css/style.min.css', as='style')

    //- очень простой и быстрый проект, JS не нужен. Но мб добавлю его позже (в gulp он тоже выключен из билда)
    //- link(rel='preload', href='./js/script.min.js', as='script')

    link(rel='stylesheet', href='./css/style.min.css')
    title= page_title

  body
    block content

    //- JSа нет, см. выше
    //- script(src='./js/script.min.js')
