- var page_language = "ru";
//- - var external_font = "";

block vars

doctype html
html(lang=page_language)
  head
    meta(charset='UTF-8')
    meta(name='description', content=page_decription)
    meta(name='keywords', content=page_keywords)
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    meta(name='theme-color', content='#1A202C')
    meta(name='apple-mobile-web-app-capable', content='yes')
    meta(
      name='apple-mobile-web-app-status-bar-style',
      content='black-translucent'
    )

    //- в этом проекте используется веб-безопасный шрифт, прелоад и лоад внешнего шрифта не нужны
    //- link(
    //-   rel='preload',
    //-   href=`/fonts/${external_font}.woff2`,
    //-   as='font',
    //-   crossorigin='anonymous'
    //- )
    link(rel='preload', href='./css/style.min.css?v1', as='style')

    //- очень простой и быстрый проект, JS не нужен. Но мб добавлю его позже (в gulp он тоже выключен из билда)
    //- link(rel='preload', href='./js/script.min.js', as='script')

    link(rel='stylesheet', href='./css/style.min.css?v1')

    //- Favicon code, from favicomatic.com. Always check and correct file paths after copying code from this site
    link(
      rel='apple-touch-icon-precomposed',
      sizes='57x57',
      href='./img/favicon/apple-touch-icon-57x57.png'
    )
    link(
      rel='apple-touch-icon-precomposed',
      sizes='114x114',
      href='./img/favicon/apple-touch-icon-114x114.png'
    )
    link(
      rel='apple-touch-icon-precomposed',
      sizes='72x72',
      href='./img/favicon/apple-touch-icon-72x72.png'
    )
    link(
      rel='apple-touch-icon-precomposed',
      sizes='144x144',
      href='./img/favicon/apple-touch-icon-144x144.png'
    )
    link(
      rel='apple-touch-icon-precomposed',
      sizes='120x120',
      href='img/apple-touch-icon-120x120.png'
    )
    link(
      rel='apple-touch-icon-precomposed',
      sizes='152x152',
      href='./img/favicon/apple-touch-icon-152x152.png'
    )
    link(
      rel='icon',
      type='image/png',
      href='./img/favicon/favicon-32x32.png',
      sizes='32x32'
    )
    link(
      rel='icon',
      type='image/png',
      href='./img/favicon/favicon-16x16.png',
      sizes='16x16'
    )
    meta(name='application-name', content=' ')
    meta(name='msapplication-TileColor', content='#FFFFFF')
    meta(name='msapplication-TileImage', content='mstile-144x144.png')

    title= page_title

  body
    block content

    script(src='./js/script.min.js', type='text/javascript')
